

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.infoContainer {
    margin-top: 15rem;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    .title{
        font-size: 1.7rem;
    }
    p {
    font-size: 1rem;
}
}

