@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

body {
    margin: 0;
}


.backArrow {
    position: fixed;
    padding-top: 7px;
    top: 20px;
    left: 20px;
    font-size: 1.7em;
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 2px 5px;
}

.infoContainer {
  margin-top: 15rem;
  text-align: center;
  font-family: "Dosis", sans-serif;
  .title {
    font-size: 1.7rem;
  }
  p {
    font-size: 1rem;
  }
}

.container {
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  border: none;
  text-decoration: none;
  width: 13.5rem;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;

  margin: 7rem auto 1.5rem auto;
  background-color: #f64444;
  &:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #f64444;
    a {
      color: #000;
    }
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    font-size: 1.56rem;
    color: #fff;
    position: relative;
    &:hover {
      color: #000;
    }
    &:after {
      content: "";
      background: #f64444;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s;
      &:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
      }
    }
  }
}
