

@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
    margin: 0;
}

.backArrow {
    position: fixed;
    padding-top: 7px;
    top: 20px;
    left: 20px;
    font-size: 1.7em;
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 2px 5px;
}

.infoContainer {
    margin-top: 15rem;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    .title{
        font-size: 1.7rem;
    }
    p {
    font-size: 1rem;    
    .infoContainer {
        margin-top: 15rem;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        .title{
            font-size: 1.7rem;
        }
        p {
        font-size: 1rem;
    }
    }
    

    
}
}

